APScheduler==3.1.0
beautifulsoup4==4.4.1
clint==0.5.1
google-api-python-client==1.3.2
html5lib==0.9999999
oauth2client==1.4.11
python-magic==0.4.11
requests==2.10.0
termcolor==1.1.0
urllib3==1.15.1
python-firebase==1.2
paramiko==2.0.2
cryptography==3.2
scp==0.10.2
onedrivesdk==1.1.8
python-pushover==0.3
